@model IEnumerable<CrudExamen.Models.ClienteCompras>

@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Listar</h1>

<p>
    <a asp-action="Crear">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SituacionLaboral)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                Compras 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SituacionLaboral)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NroCompras)
                </td>
            <td>
                <a asp-action="Editar" asp-route-id="@item.ClienteId">Edit</a> |
                <a asp-action="Eliminar" asp-route-id="@item.ClienteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
